
body {
  margin: 0;
}
.ci1 {
  text-align: center;
}
.container {
  padding: 15px;
  display: flex;
}
.texts span {
  text-transform: uppercase;
  padding-left: 20px;
  text-shadow: 0 1.5px 3px grey;
}
.img {
  padding-right: 250px;
}
.imgs {
  padding-left: 380px;
}
.imgs img {
  padding-left: 15px;
}

/* 2-etap */
.container-2 {
  display: flex;
  background-color: black;
  color: white;
  height: 620px;
  flex-wrap: wrap;
}
.texts2 span {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  padding: 60px;
  line-height: 200px;
}
.texts2 p {
  color: rgba(255, 255, 255, 0.642);
  padding: 60px;
}
/* 3 - etap */
.container-3 {
  display: flex;
  background-color: black;
  color: white;
  height: 620px;
  flex-wrap: wrap;
}
.img3 img {
  padding-top: 95px;
  padding-left: 70px;
  width: 680px;
  height: 460px;
}
.texts3 {
  padding-left: 123px;
}
.texts3 .p {
  color: rgba(255, 255, 255, 0.479);
  padding-top: 153px;
}
.texts3 p {
  font-family: "Arca Majora 3";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.texts3 i {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  color: #c2a578;
}
/* 4 - etap */
.container-4 {
  display: flex;
  background-color: black;
  color: white;
  height: 620px;
  flex-wrap: wrap;
}
.texts4 {
  padding-left: 200px;
  padding-top: 200px;
  /*  */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 60px;
}
.img4 img {
  padding-top: 100px;
  padding-left: 300px;
  width: 680px;
  height: 460px;
}
/* 5 - etap */
.start {
  padding-top: 80px;
  padding-left: 59px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}
/*  */
.container-5 {
  display: flex;
  flex-wrap: wrap;
}
.card-1 img:hover{
  transition: 0.2s;
  box-shadow: 0 0 10px 1px grey;
}
.card-1 {
  padding-left: 40px;
}
.card-1 div img {
  margin-left: 20px;
}
.card-2 li {
  text-transform: uppercase;
}
/* .sp1 {
  padding-left: 60px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.sp2 {
  padding-left: 227px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.sp3 {
  padding-left: 225px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.sp4 {
  padding-left: 230px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
} */
ul {
  display: inline-block;
}
li {
  display: inline-block;
}
li:first-child {
  padding-left: 20px;
}
li {
  padding-left: 228px;
}
li span {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
/* final */
.container-6 {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  height: 438px;
}
.card-3 {
  width: 600px;
  padding-top: 80px;
  padding-left: 135px;
}
.card-3 .span {
  /* line-height: 150px; */
  text-transform: uppercase;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.card-3 .sp {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  opacity: 0.5;
}
.card-3 img{
  padding-left: 450px;
}
.card-3 h1{
  font-size: 90px;
  color: white;
}
.card-3 .images img{
  padding-left: 0;
  padding-right: 20px;
}
.card-4{
  padding-top: 50px;
  padding-left: 110px;
}
.card-4 .sp1{
  text-transform: uppercase;
  
}
.card-4 .sp2{
  color: #928d8d;
}
.card-5{
  padding-top: 50px;
  padding-left: 90px;
}
.card-5 .spp{
    text-transform: uppercase; 
}
.card-5 .sp{
  color: #928d8d;
}
